syntax: glob
*.pyc
*~
config.json
dist/*
build/*
cache
src/cfclient.egg-info/*
src/cfclient/third_party/*
version.json
win32install/*.exe
win32install/cfclient.nsi

# PC client settings
conf/*

# Eclipse settings
.project
.pydevproject
.settings/*
msvcp90.dll

# PyCharm
.idea/*
.

# Miniconda
venv/*

#QT
Cfclient.config
Cfclient.creator
Cfclient.creator
Cfclient.creator.user
Cfclient.files
Cfclient.includes
images.qrc